// Settings
// Adjust any of these variables to your liking, or don't. :-)

// Max-width of rows
$row-max-width: 73.25rem;

// Column Padding
$col-padding: 1rem;

// Flex Basis Value
$flex-basis: auto;

// Breakpoint Sizes
// ( Use an em or rem value only for offsets to work correctly)
$tablet-breakpoint: 64em;
$tablet-vert-breakpoint: 48.125em;
$small-breakpoint: 43em;
