// Easily set your styles here using sass variables

// header options
$header-index: 9999 !default;

// panel options
$panel-color: #444a9c;
$panel-top-distance: 67px;
$panel-width: 390px !default;
$panel-index: 9999 !default;

// mask options
$mask-color:	rgba(0,0,0,0.62);
$mask-index: 9998 !default;

// hamburger options
$hamburger-color: #fff;
$hamburger-color-active: #fff;

$hamburger-position-top: 11px !default;
$hamburger-position-x: 19px !default;

// if false, hamburger will sit to the right instead of the left
$hamburger-position-left: 'false' !default;
