/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

// fonts
$bebas:       'Bebas Neue Bold', 'bebas_neuebold', Helvetica, sans-serif;
$proxima:     'Proxima Nova Regular', 'Proxima Nova', 'proxima-nova', Arial, sans-serif;

// colors
$yellow:      #f1e000;
$purple:      #444a9c;
$drkpurple:   #333679;
$pink:        #ee41aa;
$teal:        #63cbca;

$grey:        #999999;
$black:       #333333;
