/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

// fonts
$bebas:       'bebas_neuebold', 'Bebas Neue Bold', Helvetica, sans-serif;
$proxima:     'Proxima Nova Regular', 'Proxima Nova', 'proxima-nova', Arial, sans-serif;

// colors
$yellow:      #f1e000;

$ltpurple:    #8348ad;
$purple:      #444a9c;
$drkpurple:   #333679;

$pink:        #ee41aa;

$teal:        #63cbca;

$grey:        #999999;
$black:       #333333;
