.contactus {
	background: #fff pattern(circles, lime);
	background-size: 55px 55px;
	
	.row {
		background: #fff;
		padding: 40px;
		
	}
	
	h3 {
		font-family: $proxima;
		font-weight: 100;
		color: $teal;
		font-size: 21px;
		text-transform: uppercase;}
		
	p {
		color: $grey;
		font-size: 19px;
		
		a {
			color: $grey;
			font-size: 16px;}
	}
	
	
	
	form {
		input {border: 1px solid $grey;}
		button {
		  display: inline-block;
		  margin: 20px auto;
		  position: relative;
		  padding: rem(10px) rem(28px);
		  font: rem(30px) $bebas;
		  text-transform: uppercase;
		  text-align: center;
		  background: none;
		  transition: all .3s ease;
		  cursor: pointer;
		  border: 3px solid $drkpurple;
		  color: $drkpurple;
		    &:hover{
		      border: 3px solid white;
		      color: white;
		    }

		}
	}
	
}