.home-hero {
	background: $purple url(../img/patterns/line-shape-pattern-purple-bg-tile.png) repeat;
	background-size: 50%;
	padding-top: 80px;
	
	.hero-content {
		background: $pink;
		padding: 100px;
	}// end hero-content
	
}// end home-hero