.hero {
	background: $purple url(../img/patterns/scribble-pattern-purple-bg-tile.png) repeat;
	padding-top: 80px;
	text-align: center;

	.hero-content {
		background: $pink;
		padding: 100px;

	}// end hero-content

}// end home-hero




// Conference Detail Copy  (aka the_content + Speakers

.conf-content{
	background: $teal pattern(zigzag,purple);
	padding: 50px 0;

	p {}

	.speakerthumbgrid {
		.speakerthumb {

		} // End speakerthumb
	} // end speakerthumbgrid

} // End conf-content






// Testimonials

.tesimonial {
	background: $pink url(../img/photos/0101-purple-pink.jpg) bottom center no-repeat;
	background-size: cover;
	color: #fff;
	padding: 75px 0;
	position: relative;

	&:after {
		height: 30px;
		width: 100%;
		background: pattern(circles,lime);
		background-size: 55px 55px;
		position: absolute;
		bottom: 0px;
		z-index: 100;
		content: '';
		display: block;
		}

		blockquote {
			background: none;
			&:before {background: none;}


			cite {

			} // end cite
		}// end blockquote


} // end testimonials






// Join us downtown
// phase 2 only




// Conf compare
// phase 2 only


.halfsplit.comparesplit {
	.leftyleft {
		background: #fff pattern(diagonals-loose,teal);

		.thecontent {
			background: #fff;
			padding: 20px;

			p {color: $grey;}
		}
	} // end lefty left

	.rightyright {
		background: $teal pattern(diamonds,purple);

			.thecontent {
				background: $teal;
				padding: 20px;
				max-width: 600px;

				p {color: #fff;}
			}
	} // end righty right

}




// Convince your boss
// phase 2 only






// Price grid
.pricegrid {
	background: $pink;

	.priceblock {
		@include aspect-ratio(7,6);

		.content {margin: 0 10px;}

		p {
			text-transform: uppercase;
			text-align: center;
			font-size: 18px;
			line-height: 22px;
			color: #fff;
		}

		p.price {
			font-size: 36px;
			padding: 10px;
		}

		&.first .content {background: $purple pattern(diagonals-loose,pink); background-size: 55px 55px;}
		&.second .content {background: $purple pattern(cirlces,pink); background-size: 55px 55px;}
		&.third .content {background: $purple pattern(zigzag,pink); background-size: 55px 55px;}
		&.fourth .content {background: $purple pattern(diagonals-tight,pink); background-size: 55px 55px;}


		.button {margin: 25px auto;}
	}
}
