.speaker-top {
	background: #fff pattern(circles, lime);
	background-size: 55px 55px;
	
	.row {background: #fff;}
	
	.nopadding {padding: 0; margin: 0;}
	
	.staffbio {padding: 60px;}
	
	.speakerquote {
		font-size: rem(20px);
		color: $teal;
		font-style: italic;
	}
}