// Splash Page Styles

.page-template-splash .main--container{
  min-height: 100vh;
  background: url('../img/introBG.jpg') center top no-repeat;
  background-size: 100%;
  padding: rem(106px) 0 0;
}

// Intro Block & Content
.intro--block{
  display: block;
  position: relative;
  width: 95%;
  height: 600px;
  margin: 0 auto;
  padding: rem(28px) 0;
  background: $yellow;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: rem(28px);
      background: url('../img/Chevron-White.png') left top repeat-x;
      background-size: contain;
    }
    h1.event-date{
      font-size: rem(50px);
      color: white;
      letter-spacing: .8rem;
    }
}

.main-logo{
  margin-top: rem(85px);
}

// Tickets Container
.tickets--container{
  display: block;
  position: relative;
  .row{
    padding: rem(48px) 0;
    background: $purple;
    max-width: rem(1136px);
  }
  h2{
    font-size: rem(40px);
    color: $teal;
    padding: 0;
    margin: rem(40px) 0 0;
    line-height: rem(40px);
  }
  img{
    width: 387px;
  }
  span{
    display: block;
    font-size: rem(27px);
    text-transform: uppercase;
    color: white;
    line-height: rem(27px);
  }
  p{
    color: white;
    line-height: rem(28px);
  }
}

// Pricing Table
.pricing-table--container{
  .row{
    padding: 0;
    div:first-of-type{
      padding-left: 0;
    }
  }
  p{
    margin: 0;
    padding: 0;
  }
}
