.volcontent {
	background: $teal patter(zigzag, purple);
	background-size: 55px 55px;
	
	.row {
		padding-top: 60px;
		padding-bottom: 60px;
		background: $teal;
		
		p,li {color: $fff;}
		
		}
}

.volform {
	background: $pink;
	padding-top: 60px;
	
	 &:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: rem(35px);
    background: $pink pattern('circles','lime');
    background-size: 55px 55px;
  }
  
  
}

