.volcontent {
	background: $teal pattern(zigzag, purple);
	background-size: 55px 55px;
	
	.row {
		padding-top: 60px;
		padding-bottom: 60px;
		background: $teal;
		
		p,li {color: $fff;}
		
		}
}

.volform {
	background: $pink;
	padding-top: 60px;
	padding-bottom: 80px;
	
	label {color: $fff;}
	
	 &:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: rem(35px);
    background: $pink pattern('circles','lime');
    background-size: 55px 55px;
  }
  
  
}


.vollopps {
	ul {
		margin: 0;
		padding: 0;
	}
	
	li {
		list-style: none;
		margin: 0 0 40px;
		padding: 40px;
		background: $blue;
		
		h3, p {color: $fff;}
		a, a:visited {color: $lime; text-decoration: underline;}
	}
	
	li:nth-child(4n+1) {
		&:after{
		    content: '';
		    display: block;
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    width: 100%;
		    height: rem(35px);
		    background-size: 55px 55px;
		    background: $pink pattern('circles','lime');
	    }
	}
}

