// Button Styles
.button{
  display: inline-block;
  position: relative;
  padding: rem(10px) rem(28px);
  font: rem(30px) $bebas;
  text-transform: uppercase;
  text-align: center;
  background: none;
  transition: all .3s ease;
  cursor: pointer;
}

.button-yellow{
  border: 3px solid $yellow;
  color: $yellow;
    &:hover{
      border: 3px solid white;
      color: white;
    }
}

.button-white{
  border: 3px solid white;
  color: white;
    &:hover{
      border: 3px solid $purple;
      color: $purple;
    }
}

.button-drkpurple{
  border: 3px solid $drkpurple;
  color: $drkpurple;
    &:hover{
      border: 3px solid white;
      color: white;
    }
}

.button-pink{
  border: 3px solid $pink;
  color: $pink;
    &:hover{
      background: none;
      border: 3px solid $purple;
      color: $purple;
    }
}


// Buttons
.button {
	display: inline-block;
  font: rem(24px) $bebas;
	text-transform: uppercase;
	//padding: 25px 35px;

	&.white{
    border: 2px solid white;
    background: #fff;
    color: $pink;
    &:hover{
      background: none;
      color: white;
    }
  }

	&.yellow{
    border: 2px solid $yellow;
    background: $yellow;
    &:hover{
      background: none;
    }
  }

	&.ltpurple	 {background: $ltpurple;}

	&.purple{
    background: $purple;
    border: 2px solid $purple;
    &:hover{
      background: none;
      color: $purple;
    }
  }

	&.drkpurple	 {background: $drkpurple;}
	&.pink{
    border: 2px solid $pink;
    background: $pink;
    color: white;
    &:hover{
      background: none;
      color: $pink;
    }
  }
	&.teal		   {background: $teal;}

}
