/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/

footer{
  width: 100%;
  overflow: hidden;
  // row patterns
  .row{
    background: $purple;
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 50%;
      height: 100%;
      left: -50%;
      background: $purple pattern('diamonds1', 'teal');
      background-size: 55px 55px;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 50%;
      height: 100%;
      right: -50%;
      background: $purple pattern('diagonals-tight', 'teal');
      background-size: 55px 55px;
    }
  }
  .social-icons{
    h3{
      display: inline-block;
      font: rem(30px) $proxima;
      font-weight: 600;
      text-transform: uppercase;
      color: $yellow;
    }
  }
}
