/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/

footer{
  p{
    font-size: rem(18px);
  }
  a{
    color: $black;
    text-decoration: underline;
    &:hover{
      color: $teal;
    }
  }
}
