/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/

$header-height: 67px;

header {
	background: #fff;
	height: $header-height;
	width: 100%;
	overflow-y: visible;
	z-index: 10;

	h1.branding, h1.branding a {
		text-indent: -10000px;
		display: block;
		position: absolute;
		height: 235px;
		width: 245px;
		background: pattern(diagonals-tight,teal);
		background-size: 20%;
		margin: 0 25px 0 0;
		padding: 0;
		float: left;

		span {
			display: block;
			height: 210px;
			width:225px;
			background-color: $teal;
			background-image: url(../img/logos/logo-random.php);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 85%;
		} // end span
	} // end h1.brand

	h2 {
		color: $teal;
		font-size: 24px;
		padding: 20px;
		margin: 0 0 0 230px;
		display: block;
		float: left;
	}

	.buynow, .buynow:visited {
		display: inline-block;
		background: $purple;
		color: #fff;
		height: $header-height;
		font-family: $bebas;
		font-size: 24px;
		padding: 20px;
		text-align: center;
		text-transform: uppercase;
		&:hover {
			background: $yellow;
			color: $purple;
		}// end hover
	}// end buynow


	.nifty-burger {
		display: inline-block;
		position: relative;
		background: $teal;
		width: 30px;
		height: $header-height;
	}

	.nifty-burger.active{
		background: $purple;
	}

}// end header
