/*------------------------------------------------------------------------------
  Global Styles
------------------------------------------------------------------------------*/
html,
body {
  border      : 0;
  margin      : 0;
  padding     : 0;
  width       : 100%;
  min-height  : 100%;
}

html,
html a {
  -webkit-font-smoothing : antialiased !important;
  text-shadow            : 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  font                       : 100%/1.25 $proxima;
  min-height                 : 100%;
  overflow-y                 : scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling : touch;
}

/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

// Common Formatting

blockquote {
  margin  : 22px 40px;
  padding : 0;
}

a, avisited {color: $purple;}

small {
  font-size : .85em;
}

sup {
  position       : relative;
  bottom         : .3em;
  vertical-align : baseline;
}

sub {
  position       : relative;
  bottom         : -0.2em;
  vertical-align : baseline;
}

acronym,
abbr {
  cursor         : help;
  letter-spacing : 1px;
  border-bottom  : 1px dashed;
}

// Forms
form {
  margin  : 0;
  padding : 0;
  display : inline;
}

input,
select,
textarea {
  font : 1em arial, helvetica, sans-serif;
}

textarea {
  line-height : 1.25;
}

label {
  cursor : pointer;
}

// Tables
table {
  border  : 0;
  margin  : 0 0 18px;
  padding : 0;
}

table tr td {
  padding : 2px;
}

// Utility Classes
.clear {
  clear : both;
}

.clearfix:after {
  visibility : hidden;
  display    : block;
  font-size  : 0;
  content    : ' ';
  clear      : both;
  height     : 0;
}

.clearfix {
  display : inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height : 1%;
}

.clearfix {
  display : block;
}

/* close commented backslash hack */

.float-left {
  float : left;
}

.float-right {
  float : right;
}

.main--container{
  display: block;
  position: relative;
}

img{
  max-width: 100%;
  height: auto;
}

// Blockquote Styles
blockquote{
  display: block;
  position: relative;
  margin: rem(40px) auto 0;
  padding: rem(40px) 8.3333% rem(48px);
  max-width: rem(1136px);
  background: $teal;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: rem(32px);
    height: 100%;
    background: url('../img/Diagonals-Blue.png') repeat;
    background-size: 100%;
  }
  h1{
    color: $ltpurple;
    margin: 0;
    padding: 0;
  }
  p{
    color: white;
    margin-bottom: rem(35px);
  }
}


// ====================
// Flex Video Based on Zurb Foundation
// ====================

.flex-video {
  position: relative;
  height: 0;
  padding-bottom: 75%;
  margin-bottom: 1rem;
  overflow: hidden;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-video.widescreen {
  padding-bottom: 56.25%;
}

.flex-video.vimeo {
  padding-top: 0;
}

// Close page icon
.close-icon{
  position: absolute;
  width: rem(25px);
  height: rem(25px);
  border: 2px solid white;
  border-radius: 50%;
  right: 0;
  top: rem(-35px);
  cursor: pointer;
  transition: all 500ms ease-out;
  opacity: 0.8;
    span{
      display: block;
        &:before{
          width: 73%;
          height: 2px;
          background: white;
          content: '';
          display: block;
          margin: 0 auto;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          position: absolute;
          top: 9px;
          left: 3px;
        }
        &:after{
          width: 73%;
          height: 2px;
          background: white;
          content: '';
          display: block;
          margin: 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 9px;
          left: 3px;
        }
    }
    &:hover{
      transform: rotate(360deg);
      opacity: 1;
    }
}


// ====================
// Text color
// ====================
	
	
.text-white 		{color: #fff;}
.text-yellow 		{color: $yellow;}
.text-ltpurple		{color: $ltpurple;}
.text-purple		{color: $purple;}
.text-drkpurple		{color: $drkpurple;}
.text-blue			{color: $blue;}
.text-pink			{color: $pink;}
.text-teal			{color: $teal;}



// Text alignments 
.text-center 	{text-align: center;}
.text-right		{text-align: right;}


// ====================
//heros
// ====================


$lines-circles: url(../img/patterns/line-circle-pattern-purple-bg-tile.png) repeat;
$lines-shapes: url(../img/patterns/line-shape-pattern-purple-bg-tile.png) repeat;
$scribles: url(../img/patterns/scribble-pattern-purple-bg-tile.png) repeat;
$doodles: url(../img/patterns/doodle-pattern-purple-bg-tile.png) repeat;



.hero {
	background: $purple $scribles;
	padding-top: 80px;
	text-align: center;
	}

// hero content
.hero .hero-content {
	background: $pink;
	padding: 70px;
	h1{
		margin-bottom: 15px;
	}
}


@media screen and (max-width: $small-breakpoint){
	
	.hero {
	padding-top: 40px;
	}

	// hero content
	.hero .hero-content {
		padding: 30px;}
		
	
	}

// ====================
// Page Specific Heros
// ====================

	// Why Students Love MM
	.page-id-90 .hero {
		background: $purple $lines-circles;
		}
	
	// Convince yo' boss
	.page-id-86 .hero {
		background: $purple $doodles;
		}
		
	// Compare conferences
	.page-id-88 .hero {
		background: $purple $lines-circles;
		}
	
	
	// Volunteer opps
	.page-id-85 .hero {
		background: $purple $doodles;
		}	
		


// Media Queries
@media screen and (max-width: $small-breakpoint){
  blockquote{
    padding: 2.5rem 8.3333% 3rem 14%;
  }
}
