/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/

h1,h2,h3,h4,h5{
  font-family: $proxima;
}

h1{
  font-size: rem(90px);
  text-transform: uppercase;
  line-height: 1em;
}

h2, h3{
  font-size: rem(40px);
  text-transform: capitalize;
  color: $purple;
  font-weight: normal;
  line-height: 1.15em;
}

/*  Commented out per issue #68. 
	"Global: Make sure all H3s look exactly like H2s"
	I guess, seems odd though. - ma
h3{
  font-size: rem(25px);
  text-transform: capitalize;
  color: $purple;
}
*/

h4{
  font-size: rem(24px);
  text-transform: capitalize;
  color: $purple;
}

h4.sponsors--headline{
  font: rem(27px) $proxima;
  color: $grey;
}

h5{
  font-size: rem(23px);
  text-transform: capitalize;
  color: $purple;
}

p, ul, ol{
  font: rem(22px) $proxima;
  color: $black;
}

// Links
a,
a:visited {
  text-decoration : none;
}

// Media Queries
@media screen and (max-width: $small-breakpoint){
  h1{
    font-size: rem(40px);
  }
  h2{
    font-size: rem(30px);
  }
}
