/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/

h1,h2,h3,h4,h5{
  font-family: $bebas;
}

h1{
  font-size: rem(60px);
  text-transform: uppercase;
}

h2{
  font-size: rem(40px);
  text-transform: uppercase;
  color: $purple;
}

h3{
  font-size: rem(25px);
  text-transform: uppercase;
  color: $purple;
}

h4{
  font-size: rem(24px);
  text-transform: uppercase;
  color: $purple;
}

h5{
  font-size: rem(23px);
  text-transform: uppercase;
  color: $purple;
}

p, ul, ol{
  font: rem(22px) $proxima;
  color: $black;
}

// Links
a,
a:visited {
  text-decoration : none;
}
